# Ignore everything
*

# But not these files...
!*.c
!*.cc
!*.cpp
!*.java
!*.gvy
!*.groovy
!*.go
!*.hs
!*.py
!*.md
!.gitignore
!*.png
!*.jpeg
!*.pdf
!*.txt
!*.sh
!*.bat
!*.gitkeep

# ...even if they are in subdirectories
!*/